.salestorm-choose-targets {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2em;
}

.salestorm-choose-selling-products {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2em;
}

.salestorm-card-section-subtitle {
  color: rgb(109, 113, 117);
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.salestorm-rerender-container {
  min-height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.salestorm-rerender-container .Polaris-Button {
  margin: 0 auto;
}

.salestorm-mobile-preview-container {
  border-right: 1em;
  border-left: 1em;
  border-top: 2em;
  border-bottom: 2em;
  border-radius: 30px;
  border-color: rgb(32, 34, 35, 0.1);
  border-style: solid;
  width: 320px;
  height: 640px;
  margin: 0 auto;
}

#product-loading-container {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.salestorm-desktop-preview-container > #salestorm-overlay-container {
  padding: 3em;
}

.salestorm-tablet-preview-container {
  border-right: 1em;
  border-left: 1em;
  border-top: 2em;
  border-bottom: 2em;
  border-radius: 30px;
  border-color: rgb(32, 34, 35, 0.1);
  border-style: solid;
  width: 600px;
  height: 800px;
  margin: 0 auto;
}