.salestorm-options {
  display: flex;
}

.salestorm-options > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-around;
}

.salestorm-options > div > * {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.salestorm-countodwn-time {
  display: flex;
}
.salestorm-countodwn-time > div:first-child {
  margin-right: 5px;
}
