.salestorm-preview-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}

.salestorm-preview-switch > button {
  width: 150px;
  margin-left: 1em;
  margin-right: 1em;
}