@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Lato&family=Quattrocento&family=Quattrocento+Sans&family=Yatra+One&display=swap');

html {
  scroll-behavior: smooth;
}

#__next-prerender-indicator {
  display: none;
}

.text-center {
  text-align: center;
}

.text-decoration-underline {
  text-decoration: underline;
}
