@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Lato&family=Quattrocento&family=Quattrocento+Sans&family=Yatra+One&display=swap');

html {
  scroll-behavior: smooth;
}

#__next-prerender-indicator {
  display: none;
}

.text-center {
  text-align: center;
}

.text-decoration-underline {
  text-decoration: underline;
}

.salestorm-color-picker .Polaris-ColorPicker {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.salestorm-picked-color {
  width: 100%;
  border-radius: 0.25em;
  text-align: center;
  padding: 1em;
  box-shadow: -0.5px -0.5px 4px black;
}

.salestorm-formatter-colors {
  display: flex;
  flex-wrap: wrap;
}

.salestorm-formatter-colors > div:not(:first-child) {
  margin-left: 2em;
}

.salestorm-formatter-styles {
  flex: 4;
}

.salestormm-banner-formatter-border-sides {
  display: flex;
  margin-top: 1em;
}

.salestorm-formatter-range:not(:first-child) {
  margin-top: 1em;
}

.salestorm-formatter-styles-height-width {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1em;
}

.salestorm-formatter-styles-animation {
  display: flex;
  margin-bottom: 1em;
  margin-top: 1em;
}

.salestorm-formatter-styles-animation-container {
  margin-bottom: 5em;
}

.salestorm-formatter-styles-animation > div {
  flex: 1;
}

.salestorm-formatter-styles-animation > div:not(:first-child) {
  margin-left: 2em;
}

.salestorm-formatter-styles-animation-repeat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.salestorm-formatter-styles-height-width > div:not(:first-child) {
  margin-left: 1em;
}

.salestorm-formatter-colors > div:first-child {
  margin-right: 1em;
}

.salestorm-formatter-sides .Polaris-Choice:not(:first-child) {
  margin-left: 1em;
}

#salestorm-formatter {
  margin-top: 1em;
  min-height: 240px;
}

.postimages-link {
  text-decoration: none;
  color: rgb(0, 128, 96);
}

.salestorm-texts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.salestorm-text {
  width: 30%;
  margin-top: 1em;
  margin-left: 1em;
}

.salestorm-options {
  display: flex;
}

.salestorm-options > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-around;
}

.salestorm-options > div > * {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.salestorm-countodwn-time {
  display: flex;
}
.salestorm-countodwn-time > div:first-child {
  margin-right: 5px;
}

.salestorm-preview-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}

.salestorm-preview-switch > button {
  width: 150px;
  margin-left: 1em;
  margin-right: 1em;
}

.Polaris-EmptyState__ImageContainer > img {
  width: 300px !important;
}

.salestorm-campaign-overview-analytics > * {
  margin-left: 2em;
}

.slaestorm-analytics-chart {
  height: 400px;
}

.salestorm-external-tracking-information {
  display: flex;
  align-items: flex-end;
}

.salestorm-external-tracking-information > div {
  width: 300px;
}

.salestorm-campaign-title {
  display: inline-block;
  margin-right: 1em;
  font-size: 1.2em;
}

.salestorm-themes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.salestorm-theme {
  flex: 1;
  margin: 1em;
  cursor: pointer;
  height: 3.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  font-size: 15px;
}

.salestorm-advanced-formatter-settings-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.salestorm-rerender-container {
  min-height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.salestorm-rerender-container .Polaris-Button {
  margin: 0 auto;
}

.salestorm-mobile-preview-container {
  border-right: 1em;
  border-left: 1em;
  border-top: 2em;
  border-bottom: 2em;
  border-radius: 30px;
  border-color: rgb(32, 34, 35, 0.1);
  border-style: solid;
  width: 320px;
  height: 640px;
  margin: 0 auto;
}

.salestorm-desktop-preview-container #salestorm-overlay-container {
  padding: 3em;
}

.salestorm-tablet-preview-container {
  border-right: 1em;
  border-left: 1em;
  border-top: 2em;
  border-bottom: 2em;
  border-radius: 30px;
  border-color: rgb(32, 34, 35, 0.1);
  border-style: solid;
  width: 600px;
  height: 800px;
  margin: 0 auto;
}

.salestorm-summary-explanation {
  color: rgb(109, 113, 117);
  margin-bottom: 1em;
}

.salestorm-design-help {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.salestorm-design-help a {
  text-decoration: none;
}