.salestorm-campaigns-overview {
  margin-top: 1em;
}

.no-campaigns-container {
  text-align: center;
  padding: 1.5em 0 3em 0;
}

.salestorm-add-campaign {
  font-weight: bold;
}

.no-campaigns-stepper-section {
  display: flex;
  justify-content: center;
}

.stepper-container {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.stepper {
  flex: 1;
}

.stepper-checkmark {
  height: 2em;
  width: 2em;
  fill: rgb(109, 113, 117);
  color: rgb(109, 113, 117);
}

.stepper-checked {
  fill: #50b83c;
  color: #50b83c;
  font-weight: bold;
}

#stepper-new-cammpaign-link > a {
  text-decoration: none;
  color: #006fbb;
}

#total-revenue {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1em;
}

.salestorm-enabled-status {
  margin-left: 1em;
  font-size: 12pt;
}

.salestorm-enabled-satus-container {
  margin-bottom: 1em;
}

#pricing-button {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,121,0,1) 0%, rgba(255,147,0,1) 100%) !important;
  color: #ffffff !important;
}

#tips-readings-button{
  margin-right: 1em;
}

@media only screen and (max-width: 600px) {
  .salestorm-enabled-satus-container {
    justify-content: flex-start;
    flex-direction: column;
  }
}

@media only screen and (max-width: 490px) {
  .salestorm-enabled-satus-container {
    padding: 1.6rem 1.6rem 0;
  }
}

.campaign-title {
  display: inline-block;
  margin-right: 1em;
}

.salestorm-pricing-badge > a {
  text-decoration: none;
  color: black;
}

.salestorm-pricing-badge > a:visited {
  color: black;
}

.salestorm-analytics-subheading {
  color: rgb(109, 113, 117);
}

.salestorm-analytics-value {
  font-size: 18pt;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}