.home {
  .campaigns-overview {
    margin-top: 1em;
  }

  .campaigns-analytics {
    margin-top: 1em;
  }

  .no-campaigns-container {
    text-align: center;
    padding: 1.5em 0 3em 0;
  }

  .add-campaign {
    font-weight: bold;
  }

  .no-campaigns-stepper-section {
    display: flex;
    justify-content: center;
  }

  .stepper-container {
    display: flex;
    justify-content: space-between;
    width: 500px;
  }

  .stepper {
    flex: 1;
  }

  .stepper-checkmark {
    height: 2em;
    width: 2em;
    fill: var(--p-icon-disabled);
    color: var(--p-icon-disabled);
  }

  .stepper-checked {
    fill: var(--p-action-primary);
    color: var(--p-action-primary);
    font-weight: bold;
  }

  #stepper-new-cammpaign-link > a {
    text-decoration: none;
    color: var(--p-interactive);
  }

  #total-revenue {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1em;
  }

  .enabled-status {
    margin-left: 1em;
    font-size: 12pt;
  }

  .enabled-status-true {
    color: var(--p-text-success);
  }

  .enabled-status-false {
    color: var(--p-text-disabled);
  }

  .enabled-status-container {
    margin-bottom: 1em;
  }

  #tips-readings-button {
    margin-right: 1em;
  }

  @media only screen and (max-width: 600px) {
    .enabled-status-container {
      justify-content: flex-start;
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 490px) {
    .enabled-status-container {
      padding: 1.6rem 1.6rem 0;
    }
  }

  .campaigns-overview .Polaris-ResourceItem__Content {
    display: flex;
    align-items: center;
  }

  .campaigns-overview .Polaris-Badge {
    padding-left: 0.75em;
    padding-right: 0.75em;
  }

  .Polaris-Button[aria-label="Toggle publish"] {
    width: 89px;
  }

  @media only screen and (max-width: 1040px) {
    .campaigns-overview .Polaris-Badge {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }
    .campaigns-overview .Polaris-ResourceItem__Content {
      flex-wrap: wrap;
    }
  }

  .campaigns-overview .Polaris-Badge .Polaris-Icon {
    margin-right: 0.5em;
    height: 1.8rem;
  }

  .pricing-badge > a {
    text-decoration: none;
    color: var(--p-text);
  }

  .analytics-subheading {
    color: var(--p-text-subdued);
    min-height: 2.6563rem;
  }

  .analytics-performance-list-item {
    .Polaris-ResourceItem__Content {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;
    }

    .analytics-performance-props {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
    }
  }

  .analytics-subheading > a {
    text-decoration: none;
    color: var(--p-interactive);
  }

  .analytics-value {
    font-size: 18pt;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .d-none {
    display: none !important;
  }

  .campaign-status {
    .campaign-title {
      display: inline-block;
      margin-right: 1em;
      font-size: 1.2em;
    }
  }

  .Polaris-ResourceItem__Actions {
    margin-top: 0.3125rem !important;
  }

  .Polaris-ResourceItem__Content {
    .Polaris-Icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
