.plans-container .Polaris-Layout {
  align-items: center;
}

.plans-container .Polaris-ResourceList .Polaris-ResourceItem {
  cursor: auto;
}

.plans-container .Polaris-ResourceList .Polaris-ResourceItem:hover {
  background-color: var(--p-text-on-interactive);
}

.plans-container .Polaris-Card__Section .Polaris-Heading {
  text-align: center;
  font-size: 2.3rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}

.plans-container > .Polaris-Heading {
  text-align: center;
  font-size: 3rem;
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.plans-container .Polaris-List {
  list-style: none;
  padding: 0px !important;
  margin: 0px !important;
  padding-left: 3rem !important;
}

.plans-container .Polaris-List__Item {
  font-size: 1.6rem;
}

.plans-container .Polaris-ResourceItem__Container {
  padding: 2rem 0.6rem;
}

.plans-container .salestorm-pricing-card-checkmark {
  color: var(--p-action-primary);
  margin-right: 0.5em;
  font-weight: bold;
}

.salestorm-plan-views {
  font-size: 1.5rem;
}

.salestorm-plans-note {
  text-align: center;
  margin-top: 4rem;
}

.salestorm-pricing-contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.salestorm-pricing-contact-us > a {
  margin-top: 1rem;
  text-decoration: none;
  color: var(--p-text-on-interactive);
}

.salestorm-pricing-contact-us > a:visited {
  color: var(--p-text-on-interactive);
}

.plans-container .Polaris-Stack .Polaris-Stack__Item:first-child > div {
  flex-direction: column;
  display: flex;
  width: 100px;
}

.plans-container .Polaris-Stack .Polaris-Stack__Item:nth-child(3) {
  width: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.plans-container .Polaris-Stack .Polaris-Stack__Item .Polaris-TextStyle--variationStrong {
  font-size: 1.55rem;
}

.plans-container .Polaris-Stack .Polaris-Stack__Item:nth-child(2) {
  width: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.plans-container .Polaris-Stack .Polaris-Stack__Item:nth-child(3) > span {
  width: 100%;
}

.plans-container .Polaris-Stack .Polaris-Stack__Item:nth-child(3) > button {
  max-width: 106px;
}

.salestorm-plan-status {
  display: flex;
  justify-content: center;
  align-items: center;
}
