.Polaris-EmptyState__ImageContainer > img {
  width: 300px !important;
}

.salestorm-campaign-overview-analytics > * {
  margin-left: 2em;
}

.slaestorm-analytics-chart {
  height: 400px;
}

.salestorm-external-tracking-information {
  display: flex;
  align-items: flex-end;
}

.salestorm-external-tracking-information > div {
  width: 300px;
}