.salestorm-themes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.salestorm-theme {
  flex: 1;
  margin: 1em;
  cursor: pointer;
  height: 3.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  font-size: 16px;
}
