.salestorm-themes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.salestorm-theme {
  flex: 1;
  margin: 1em;
  cursor: pointer;
  height: 3.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  font-size: 15px;
}

.salestorm-advanced-formatter-settings-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.salestorm-rerender-container {
  min-height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.salestorm-rerender-container .Polaris-Button {
  margin: 0 auto;
}

.salestorm-mobile-preview-container {
  border-right: 1em;
  border-left: 1em;
  border-top: 2em;
  border-bottom: 2em;
  border-radius: 30px;
  border-color: rgb(32, 34, 35, 0.1);
  border-style: solid;
  width: 320px;
  height: 640px;
  margin: 0 auto;
}

.salestorm-desktop-preview-container #salestorm-overlay-container {
  padding: 3em;
}

.salestorm-tablet-preview-container {
  border-right: 1em;
  border-left: 1em;
  border-top: 2em;
  border-bottom: 2em;
  border-radius: 30px;
  border-color: rgb(32, 34, 35, 0.1);
  border-style: solid;
  width: 600px;
  height: 800px;
  margin: 0 auto;
}
