.salestorm-strategy-settings {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.salestorm-discount {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.salestorm-free-shipping-strategy > div {
  margin-right: 1em;
  flex: 1;
}