.salestorm-banner-formatter-colors {
  display: flex;
  flex-wrap: wrap;
}

.salestorm-banner-formatter-colors > div:not(:first-child) {
  margin-left: 2em;
}

.salestorm-banner-formatter-styles {
  flex: 4;
}

.salestormm-banner-formatter-border-sides {
  display: flex;
}

.salestorm-banner-formatter-range:not(:first-child) {
  margin-top: 1em;
}

.salestorm-banner-formatter-styles-height-width {
  display: flex;
  justify-content: center;
  align-items: center;
}

.salestorm-banner-formatter-styles-height-width > div {
  width: 20%;
  margin: 1em;
}

.salestorm-banner-formatter-colors > div:first-child {
  margin-right: 1em;
}

.salestorm-banner-formatter-sides .Polaris-Choice:not(:first-child) {
  margin-left: 1em;
}
