.salestorm-triggers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.salestorm-triggers-option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}