#salestorm-product {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
}

#salestorm-product-info {
  padding-left: 1.5em;
}

#salestorm-product-title {
  font-size: 22pt;
}

#salestorm-product-description {
  text-overflow: ellipsis;
}
