.salestorm-formatter-colors {
  display: flex;
  flex-wrap: wrap;
}

.salestorm-formatter-colors > div:not(:first-child) {
  margin-left: 2em;
}

.salestorm-formatter-styles {
  flex: 4;
}

.salestormm-banner-formatter-border-sides {
  display: flex;
  margin-top: 1em;
}

.salestorm-formatter-range:not(:first-child) {
  margin-top: 1em;
}

.salestorm-formatter-styles-height-width {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1em;
}

.salestorm-formatter-styles-animation {
  display: flex;
  margin-bottom: 1em;
  margin-top: 1em;
}

.salestorm-formatter-styles-animation-container {
  margin-bottom: 5em;
}

.salestorm-formatter-styles-animation > div {
  flex: 1;
}

.salestorm-formatter-styles-animation > div:not(:first-child) {
  margin-left: 2em;
}

.salestorm-formatter-styles-height-width > div:not(:first-child) {
  margin-left: 1em;
}

.salestorm-formatter-colors > div:first-child {
  margin-right: 1em;
}

.salestorm-formatter-sides .Polaris-Choice:not(:first-child) {
  margin-left: 1em;
}

#salestorm-formatter {
  margin-top: 1em;
}

.postimages-link {
  text-decoration: none;
  color: rgb(0, 128, 96);
}
