.salestorm-mobile-preview-container {
  border-right: 1em;
  border-left: 1em;
  border-top: 2em;
  border-bottom: 2em;
  border-radius: 30px;
  border-color: rgb(32, 34, 35, 0.1);
  border-style: solid;
  width: 320px;
  height: 640px;
  margin: 0 auto;
}

#product-loading-container {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.salestorm-desktop-preview-container {
  display: block;
  min-height: 500px;
}

.salestorm-desktop-preview-container > #salestorm-overlay-container {
  padding: 3em;
}

.salestorm-tablet-preview-container {
  border-right: 1em;
  border-left: 1em;
  border-top: 2em;
  border-bottom: 2em;
  border-radius: 30px;
  border-color: rgb(32, 34, 35, 0.1);
  border-style: solid;
  width: 600px;
  height: 800px;
  margin: 0 auto;
}