.salestorm-banner-preview-container {
  padding: 2em;
  display: flex;
  justify-content: center;
}

.salestorm-choose-targets {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2em;
}

.salestorm-choose-selling-products {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2em;
}
