.salestorm-choose-targets {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2em;
}

.salestorm-choose-selling-products {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2em;
}

.salestorm-card-section-subtitle {
  color: rgb(109, 113, 117);
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}